.form-group{
  padding-top: 6em;
  padding-bottom: 6em;
}

.form{
  padding-top: 12em;
  padding-bottom: 24em;
}

.form .question{
  opacity: .2;
}

.form .question.active{
  opacity: 1;
}

.navbar{
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1030;
}

.multiple-choice .option {
  margin: 1em;
}
